<% layout('/layout/boilerplate') %>
<div class="row">
    <div class="col-6 ">


        <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
            <div class="carousel-inner">
              <div class="carousel-item active">
                <img class="d-block w-100" src="<%=grounds.image%>"" alt="First slide">
              </div>
            </div>
            <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="sr-only">Previous</span>
            </a>
            <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="sr-only">Next</span>
            </a>
          </div>

 
        <div class="card mb-3">
            
            <!-- <img src="<%=grounds.image%>" class="card-img-top" alt="..."> -->
            
            <div class="card-body">
                <h5 class="card-title"><%= grounds.location%></h5>
                <p class="card-text"><%= grounds.description%></p>
            </div>
            <ul class="list-group list-group-flush">
                <li class="list-group-item text-muted"><%= grounds.location%></li>
                <li class="list-group-item">Rs<%= grounds.price%></li>
            </ul>
            <div class="card-body">
                <a class="card-link btn btn-info" href="/ground/<%=grounds._id%>/edit">Edit</a>
                <form class="d-inline" action="/ground/<%=grounds._id%>?_method=DELETE" method="POST">
                    <button class="btn btn-danger">Delete</button>
        
            </div>
        </div>
    </div>
    <div class="col-6">
    </form>

    <h3>Review</h3>

<form action="/ground/<%=grounds._id%>/review" method="POST" class="mb-3 validated-form" novalidate>
  
  
  <div class="mb-3">
     <label class="mb-3" for="body">rating</label>  
    <input type="range" min="1" max="5" name="review[rating]" id="rating">
  </div>
  
  
  <div class="mb-3"> 
    <label class="form-label" for="body">review</label>
  <input type="text" class="form-control" id="review" 
    aria-describedby="review-label" name="review[body]" required>
  </div>
  
    <button>submit</button>
</form>

<%for(let rev of grounds.review){ %>
      <div>
        rating-<%=rev.rating%>
        Review-<%=rev.body%>
                <form class="d-inline" action="/ground/<%=grounds._id%>/review/<%=rev._id%>?_method=DELETE" method="POST">
                    <button class="btn btn-danger">Delete</button>
                </form>


      </div>
<%}%>
</div>
</div>


